@font-face {
    font-family: 'lato';
    src: url('./assets/Lato-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'lato-bold';
    src: url('./assets/Lato-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: bold;
}

* {
    font-family: 'lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'lato-bold', sans-serif;
}

body {
    overflow: hidden;
}

.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: minmax(19rem,20%) 1fr;
}

.sidebar {
    max-height: 100vh;
    max-width: 100%;
    display: grid;
    grid-template-rows: 75px 1fr 3fr;
    grid-template-columns: 1fr;
    background-color: #333;
    color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar .user-info {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #444;
}

.sidebar .user-info .logo {
    border-radius: 50%;
    margin-right: 20px;
}

.sidebar .user-info .logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar .sidebar-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    margin: 0.5rem 0.4rem;
    cursor: pointer;
    position: relative;
    border-radius: 0.5rem;
}

.sidebar .sidebar-item.active,
.sidebar .sidebar-item:hover {
    background-color: #444;
}

.sidebar .sidebar-item.active::before {
    --indicator-width: 4px;
    content: '';
    position: absolute;
    left: var(--indicator-width);
    width: 4px;
    height: 50%;
    background-color: #76B9ED;
    border-radius: 1rem;
}

.sidebar-item-container > .sidebar-item {
    font-size: 18px;
    
}

.sidebar-item-container > .sidebar-item svg {
    margin-right: 20px;
    min-width: 30px;
    max-width: 30px;
    fill: #fff;
}

.sidebar-item input {
    background: transparent;
    color: #fff;
    border: none;
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-family: inherit;
    outline: none;
    cursor: pointer;
}

.sidebar-item input.active {
    outline: 2px solid #76B9ED;
    cursor: text;
}
::selection {
    background-color: #E2241A;
    color: #fff;
}
::-moz-selection { /* Code for Firefox */
    color: #E2241A;
    background: #fff;
  }

.sidebar-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
}

.sidebar-section h3 {
    font-family: 'lato-bold', sans-serif;
    font-size: 1.5rem;
    padding: 0.2rem 0.3rem;
}

.sidebar-section .interactable-div {
    display: flex;
    align-items: center;
    padding: 0.2rem 1.2rem;
    cursor: pointer;
}

.sidebar-section .interactable-div svg {
    margin-right: 20px;
    width: 25px;
    fill: #fff;
}

.sidebar-section .interactable-div:hover {
    background-color: #444;
}

.sidebar-section .project-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 3rem;
}

.sidebar-section .project-list > .project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 0;
    overflow: hidden;
}

.sidebar-section .project-list > .project-item:hover {
    background-color: #444;
}
.sidebar-section .project-list > .project-item .remove-project-btn svg {
    width: 25px;
    height: 20px;
    fill:#FF0000;
    opacity: 0.85;
    cursor: pointer;
}
.sidebar-section .project-list > .project-item .remove-project-btn:hover svg {
    opacity: 1;
}

.sidebar-section .project-list > .project-item svg {
    min-width: 25px;
    max-width: 25px;
    margin-right: 1.5rem;
    fill: #788CDE;
}

.sidebar-section .project-list > .project-item input {
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-content {
    --main-pad: 2rem;
    padding: var(--main-pad) calc(1rem + var(--main-pad));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-item {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    padding-left: 0;
    background-color: #2A2A2A;
    border-radius: 10px;
    margin: 0.4rem 0;
}

.task-item .icon-wrapper {
    width: 30px;
    margin-right: 1rem;
    margin-left: 1rem;
}

.task-item svg {
    width: 30px;
    height: 30px;
    fill: #fff;
}

.task-item .icon-wrapper svg {
    display: none;
}

.task-item .icon-wrapper svg.show {
    display: block;
    animation: appear 0.3s;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.task-item .task-item-text {
    flex: 1;
    border: none;
    background: transparent;
    color: #fff;
    outline: none;
    font-size: 1rem;
    min-height: 3.5rem;
    line-height: 1.2rem;
    padding: 1rem 0;
    min-width: 20rem;
}

.task-list-item .task-module {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    color: #fff;
    padding: 0 0.5rem;
    font-size: 0.8rem;
}

.task-module .icon-wrapper {
    margin-right: 0.5rem;
    width: fit-content;
}

.task-module svg {
    width: 0.8rem;
    height: 0.8rem;
}

.task-list-item p {
    display: flex;
    align-items: center;
}

.task-list-item:hover {
    background-color: #363636;
    cursor: pointer;
}

.task-list-item.finished {
    opacity: 0.5;
    background-color: #363636;
}

.task-list-item.finished .task-item-text {
    text-decoration: line-through;
}

.task-list-item.due-date-exceeded .task-module.calendar-module {
    color: red;
}

.task-list-item.due-date-exceeded .task-module.calendar-module svg {
    fill: red;
}

.add-task-container {
    opacity: 0.8;
}

.add-task-container.disabled {
    display: none;
}

.task-list-container {
    height: 100%;
    margin: 1rem 0;
    overflow: auto;
}

.top {
    height: 70%;
}

.task-list-container > #empty-task-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.task-list-container > #empty-task-display-container svg {
    width: 100px;
    margin-bottom: 1rem;
}

.util-option-container {
    display: grid;
    grid-auto-flow: column;
    height: 100%;
}

.util-option-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    cursor: pointer;
    height: 100%;
    color: #fff;
    height: 100%;
}

.priority-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-family: 'lato-bold', sans-serif;
    font-size: 1.25rem;
}

.priority-wrapper select {
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 1.25rem;
    font-family: 'lato-bold', sans-serif;
    padding: 0.5rem;
    cursor: pointer;
}

div#due-date > .icon-wrapper > svg {
    display: flex;
}

.task-list-item {
    position: relative;
    overflow: hidden;
}

.task-list-item > .priority-indicator {
    position: absolute;
    right: 0;
    top: 0;
    width: 1rem;
    height: 100%;
    border-radius: 0.5rem;
}

.task-list-item > .priority-indicator.priority-high {
    background-color: #FF0000;
}

.task-list-item > .priority-indicator.priority-medium {
    background-color: #FFA500;
}

.task-list-item > .priority-indicator.priority-low {
    background-color: #008000;
}

.task-detail-container {
    display: none;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
  }

  .task-detail-container.active {
    display: block;
  }
  
  .task-detail {
    margin-left: auto;
    background-color: #272727;
    width: 20%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template: 25% 1fr 10% / 1fr;
    animation: slideIn 0.5s ease-in-out forwards;
  }
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .task-detail>*:nth-child(odd) {
    background-color: #323232;
  }
  
  .task-detail>* {
    padding: 0.75rem;
  }
  
  .task-detail .task-detail-header {
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
  }
  
  .task-detail-header-left {
    width: 65%;
  }
  
  .task-detail-header-left .task-detail-header-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  
  .task-detail-header-left .task-detail-header-date {
    font-size: 0.9rem;
    color: #ccc;
  }
  
  .task-detail-header-status {
    background: none;
    border: none;
    color: inherit;
    height: 24px;
    width: 24px;
  }
  
  .task-detail-header-status svg {
    display: none;
  }
  
  .task-detail-header-status.finished svg.finished {
    display: block;
  }
  
  .task-detail-header-status.unfinished svg.unfinished {
    display: block;
  }
  
  .task-detail-content-description {
    height: 100%;
  }
  
  .task-detail-content-description textarea {
    padding: 0.25rem;
    width: 100%;
    background-color: black;
    color: white;
    height: 100%;
    border: none;
    border-radius: 0.6rem;
    font-size: 1.25rem;
    font-family: inherit;
    resize: none;
  }
  
  .task-detail-footer .footer-detail-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-left: auto;
  }
  
  .footer-detail-item button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }
.footer-detail-item svg {
    fill: #fff;
    width: 50px;
  }

  .footer-detail-item svg.delete {
    fill: #FF0000;
  }